body {
    font-family: Arial, Helvetica, sans-serif 20px;
}

.navbar {
    background-color: #088A08;
}

.quem-somos {
    background-color: rgb(111, 111, 211);
    color: white;
    
}

.margin {    
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: rgb(131, 169, 241);
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}
